.card{
    color: whitesmoke; 
    background-color:rgb(71, 60, 100); 
    border-radius: 20px; 
     box-shadow:0px 3px 5px black; 
    margin-top: 40px;
    margin-left: 40px;
    border: 2px solid rgb(50, 22, 58);
}
.card:hover{
    background-color:rgb(255, 0, 128); 
    
}
.card-img-top{
   margin-top: 5px; 
   border-radius:20px; 
    box-shadow:0px 5px 5px black; 
   
}
.card-img-top:hover{
    opacity: 75%;
}

.buton{
    box-shadow:2px 2px black;
    background-color: rgb(53, 24, 158);
    color: white;
    
}

.fullbg{
    background-color:rgb(140, 116, 180) ;
}
.bgnav{
    background-color:rgb(116, 98, 161);
    
}
